.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(21, 39, 53);
  padding: 30px;
  border-radius: 5px;
}
.header {
  justify-content: space-between;
  margin-bottom: 10px;
}
.heading {
  display: flex;
}
.img {
  width: 200px;
}
.image,
.quantity,
.description {
  max-width: 300px;
  padding: 30px 40px;
}
.product_name {
  max-width: 300px;
  padding: 30px 0 0 91px;
}
